{% extends "index.html" %}
{% block content %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<h1>Weather for: {{ title }}</h1>
<center>
<h2><img src="http://openweathermap.org/img/w/{{ curweathericon }}.png">{{ weatherdescrip }}</h2>
<h3>{{ temp }} Kelvin</h3></center>
    {% if curweather %}
        <div>
            <table>
                {% for key, value in curweather.iteritems() %}
                <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <!--{% if forecast_info %}-->
        <!--<div>-->
            <!--<p>{{ forecast_info }}</p>-->
        <!--</div>-->
    <!--{% endif %}-->
{% include 'daily_weather.html' %}

{% endblock %}